body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #1e1f24;
}

.greeting-table {
  margin-top: 32px;
  margin-left: 0;
}

.user-icon {
  font-size: 28px;
  text-align: center;
  padding: 8px 16px 8px 0px;
}

.greeting {
  font-weight: 200;
  font-size: 14px;
  padding: 0;
}

.search-icon {
  color: #e4edf2;
}

.search-icon-input {
  background-color: #2a2d36;
  border-color: #3c3c44;
  width: 70px;
  border-radius: 20px 0px 0px 20px;
}

.current-location-btn {
  background-color: #2a2d36;
  border-color: #3c3c44;
  border-radius: 20px;
  color: #e4edf2;
  font-size: 14px;
  font-weight: 400;
  justify-self: end;
}

.input-field {
  border-radius: 0px 20px 20px 0px;
}

.body-style {
  margin: 0 auto;
  display: block;
}

.container {
  padding: 0;
}

.weather-table {
  background-color: #2e2e38;
  border: 2px solid;
  border-color: #3c3c44;
  padding: 16px 32px;
  border-radius: 40px;
  margin: 32px 0px 32px 0px;
}

.header-table {
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  padding: 0px 40px 0px 40px;
  margin-bottom: 24px;
}

.subheader-table {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.header-table-one {
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  padding: 0px 40px 0px 40px;
}

.image-cell {
  padding: 0;
}

.today-date {
  font-size: 22px;
  font-weight: 300;
}

.weather-cell {
  background-color: #cceaec;
  color: #1e1f24;
  border-radius: 32px;
  margin: 0px 12px;
  padding: 6px 2px;
  text-align: center;
}

.week-day-style {
  font-weight: 500;
  font-size: 20px;
  padding: 6px 0px;
}

.max-tempo-style {
  font-weight: 600;
  font-size: 16px;
  padding: 6px 0px;
}

.min-tempo-style {
  font-weight: 500;
  opacity: 0.5;
  font-size: 16px;
  padding: 6px 0px;
}

.degree-link-selected {
  font-size: 40px;
  text-decoration: none;
  color: #e4edf2;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 28px 0.6fr 0.6fr 0.6fr 0.2fr;
  margin-top: 32px;
}

.grid > div {
  height: 60px;
}

#inner-grid {
  display: grid;
  grid-template-columns: 70px auto;
  grid-gap: 0px;
  justify-self: end;
}

#align-grid {
  justify-self: end;
}

.grid-forecast {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.custom-control {
  background-color: #2a2d36;
  color: #e4edf2;
  font-size: 14px;
  font-weight: 200;
  border-color: #3c3c44;
  display: inline;
  margin: 0;
  justify-self: end;
}

.custom-control:focus {
  background-color: #2e2e38;
  border: 2px solid;
  border-color: #3c3c44;
  color: #e4edf2;
  font-weight: 400;
}

.custom-control::placeholder {
  color: white;
  opacity: 1;
}

.form-control {
  display: inline;
  width: 230px;
}

.degree-link {
  font-size: 20px;
  text-decoration: none;
  color: #9d73fa;
  position: absolute;
  left: 620px;
  top: 162px;
}

.degree-link-selected {
  font-size: 40px;
  text-decoration: none;
  color: #e4edf2;
  position: absolute;
  left: 570px;
}
